body {
    margin: 0;
    font-family: 'Yeon Sung', cursive;
    width: 100%;
}
/* Nav part css start */
.nav-part{
    height: 100px;
}
.nav-part ul {
    display: flex;
    list-style-type: none;
    float: right;
}
.nav-part ul li{
    padding: 0px 30px;
}
.nav-part ul li a{
    text-decoration: none;
    font-size: 20px;
    color: rgb(22, 21, 24);
    font-weight: 700;
}
.nav-part ul li a:hover{
    color: red;
    transition: 0.5s;
}

/* Nav part css End */

/* Top Section css start */
.section-hight{
    height: 510px;
}
.half-part{
    width: 30%;
    height: 510px;
    margin-left: 10%;
    padding-right: 2%;
    float: left;
}
.half-part img{
    width: 100%;
}
.half-part h1{
    font-size: 50px; 
    margin-block-end: 0em;
    padding-top: 10%;
}
.half-part h2{
    color: red;
    font-size: 50px;
    margin-block-start: 0em;
    margin-block-end: 0em;
}
.half-part p{
    font-size: 19px;
    padding-bottom: 30px;
}
.btn{
    text-decoration: none;
    border: 2px solid;
    border-radius: 10px;
    padding: 15px 35px;
    color: white;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    font-size: 24px;
    transition: all .5s;
    }

.btn:before{
        width: 100%;
        height: 100%;
        content: '';
        margin: auto;
        position: absolute;
        top:  0%;
        left: 0%;
        background: tomato;
        transition: all .5s;
        z-index: -1;
        
    }
.btn:after{
        width: 100%;
        height: 100%;
        content: '';
        margin: auto;
        position: absolute;
        top:  0%;
        left: 0%;
        background: tomato;
        transition: all .5s;
        z-index: -1;
        
}
.btn:hover{
    color: #212121;
}
.btn:hover:before{			
        transform: rotateX(90deg);

}
.btn:hover:after{
        transform: rotateY(90deg);

}

/* Top Section css End */

/* About Section css Start */
#about-color{
    color: teal;
}
/* About Section css End */

/* Work Section Start */
.work-part{
    background-color: #fafafa;
    padding-left: 10%;
    height: 800px;
}
#work-head-color{
    color: tomato;
}
.work-part H2{
    font-size: 40px;
    text-align: center;
    padding-top: 115px;
    padding-bottom: 20px;
}
.work-container{
    width: 25%;
    float: left;
    padding: 10px;
    background: white;
    box-shadow: 1px 1px 5px lightgrey;
    border-radius: 20px;
    margin: 13px;
}
.work-container img{
    width: 100%;
}
.work-container h3{
    font-size: 25px;
}

/* Work Section End */

/* Inquiry Part Start */

.inquiry-part{
    margin-top: 85px;
    margin-bottom: 85px;
    width: 100%;
    background-image: url(../images/Group_33094_1.png);
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
    height: 200px;
    position: relative;
}
#inquiry-content h1{
    font-size: 45px;
    color: white;
    position: absolute;
    top: 35px;
    left: 340px;
}
#button{
    text-decoration: none;
    font-weight: 700;
    border: 2px solid;
    border-radius: 10px;
    padding: 15px 35px;
    color: white;
    background-image: linear-gradient(45deg, #FF416C,#FF4B2B);
    background-image: -webkit-linear-gradient(45deg,  #FF416C,#FF4B2B);
    cursor: pointer;
    position: relative;
    overflow: hidden;
    font-size: 24px;
    position: relative;
    bottom: -85px;
    right: -780px;
}
/* Inquiry Part End */

/* Skill Part Css Start */
.container{
    width: 50%;
    margin: 0 auto;
  }
  @keyframes load{
    from {
      width: 0%
    }
  }
  @-webkit-keyframes load{
    from {
      width: 0%
    }
  }
  @-moz-keyframes load{
    from {
      width: 0%
    }
  }
  @-o-keyframes load{
    from {
      width: 0%
    }
  }
  
  .bar{
    background-color: #EEE;
    padding: 2px;
    border-radius: 15px;
    margin-bottom: 5px;
    font-size: 14px;
    color: #FFF;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
  }
  .bar::before{
    content:  attr(data-skill);
    background-color: #f3b0ff;
    display: inline-block;
    padding: 5px 0 5px 10px;
    border-radius: inherit;
    animation: load 2s 0s;
    -webkit-animation: load 2s 0s;
    -moz-animation: load 2s 0s;
    -o-animation: load 2s 0s;
  }
  
  .bar.front::before{
    background-color: #ffcc33;
  }
  .bar.back::before{
    background-color: #a6cfe3;
  }
  
  .bar.learning::before{
    width: calc(20% - 10px);
  }
  .bar.basic::before{
    width: calc(40% - 10px);
  }
  .bar.intermediate::before{
    width: calc(60% - 10px);
  }
  .bar.advanced::before{
    width: calc(80% - 10px);
  }
  .bar.expert::before{
    width: calc(100% - 10px);
  }
/* Skill Part Css End */
/* My Resume Part css Start */
.half-width-control{
    background-color: #f6f7fe;
    height: 900px;
}
.half-width{
    width: 38%;
    float: left;
    padding-left: 8%;
}
.section-title{
    font-size: 38px;
    text-align: center;
    line-height: 1;
    margin-bottom: 60px;
    font-weight: 600;
    position: relative;
    z-index: 1;
}
.section-title{
    padding-top: 30px;
}
.block-title h3{
    font-size: 24px;
    font-weight: 600;
}
.timeline {
    border-left: 1px solid #caa847;
    padding: 15px 0;
}
.timeline-item {
    position: relative;
    padding: 15px 20px 10px;
    margin-left: 20px;
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid #f6f7fe;
    border-left: 2px solid #caa847;
    transition: .3s ease-in-out;
}
.timeline-item:before {
    content: '';
    display: inline-block;
    position: absolute;
    background-color: #fff;
    border-radius: 10px;
    width: 12px;
    height: 12px;
    top: 20px;
    left: -29px;
    border: 2px solid #caa847;
    z-index: 2;
}
.timeline-item .item-title {
    display: block;
    margin: 0;
    font-size: 16px;
    line-height: 1.2em;
    color: #333;
}
.timeline-item .item-period {
    display: inline-block;
    font-size: 12px;
    line-height: 1.2em;
    color: #caa847;
    margin-bottom: 8px;
}
.timeline-item .item-small {
    display: inline-block;
    font-size: 12px;
    line-height: 1.2em;
    color: #333;
    margin-left: 5px;
    margin-bottom: 8px;
    padding-left: 8px;
    border-left: 1px solid #e0e0e0;
}
.timeline-item:after {
    content: '';
    display: inline-block;
    position: absolute;
    background-color: #caa847;
    border-radius: 10px;
    width: 29px;
    height: 2px;
    top: 25px;
    left: -29px;
    z-index: 1;
}
/* My Resume Part css End */

/* Footer part css start */
.footer-head{
    text-align: center;
}
.footer-head h4{
    font-size: 20px;
    font-weight: 600;
    color: teal;
}
.footer-head h1{
    color: #4240db;
}
.align{
    width: 100%;
    display: inline;
    position: relative;
    right: -45%;
}
.footer-icon{
    float: left;
    padding: 15px 5px;
    margin-bottom: 50px;
    height: 35px;
    width: 35px;
}
.footer-icon img{
    width: 100%;
}
/* Footer part css end */